
<div class="row">
  <div class="twelve columns">
    <div class="six columns offset-by-three">
      <h2>Sign in</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %>
        </div>

        <div>
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me, class: 'left inline' %> 
            <%= f.label :remember_me, class: 'left inline'%>
          </div>
        <% end -%>

        <div class='clearfix'></div>
   
        <div class='centerify'>
          <%= f.submit "Sign in", class: 'button secondary radius' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
