= link_to scholar_path(scholar) do
  = image_tag(scholar.avatar_path_url(:wide), class: 'profile')

.nice.round.progress.success.twelve
  %span.meter{style: "width:#{meter_length(scholar)}%"}

.centerify
  %small
    = number_with_precision((scholar.amount.to_f - scholar.paid_amount.to_f), delimiter: ',', precision: 2).to_s + " to go"
    |
    = scholar.pledges.count.to_s + " Donors"

%hr
= link_to scholar_path(scholar) do
  %h4= scholar.full_name
%p= scholar.description[0..100] + '...'
.centerify
  = link_to 'Read more', scholar_path(scholar), class: 'button radius full'
