- provide :title, "Fund #{@scholar.full_name} from #{@scholar.school}"

.row

%section#scholar-show
  .row
    .twelve.mobile-one.columns#main
      .four.mobile-two.columns
        = image_tag @scholar.avatar_path_url(:wide)
      .eight.mobile-two.columns
        %h4= "Progress since #{@scholar.created_at.strftime('%B %d, %Y')}"
        %hr
        .eight.mobile-one.columns
          .centerify
            .nice.round.progress.success.twelve
              %span.meter{style: "width:#{meter_length(@scholar)}%"}
 
            %h6= "PHP " + number_with_precision((@scholar.amount.to_f - @scholar.paid_amount.to_f), delimiter: ',', precision: 2).to_s + " TO GO"
        .four.mobile-one.columns
          = link_to 'Pledge', '#', class: 'button full radius', :'data-reveal-id' => 'pledge-modal'

      .centerify
        = render 'shared/social'

      .clearfix
      .separator
      
      .ten.columns.mobile-one.offset-by-one#detail
        .three.columns
          %label.left.inline
            Scholar's Name:
        .nine.columns
          %p= @scholar.full_name
        .three.columns
          %label.left.inline
            Age:
        .nine.columns
          %p= @scholar.age
        .three.columns
          %label.left.inline
            School:
        .nine.columns
          %p= @scholar.school
        .three.columns
          %label.left.inline
            Description:
        .nine.columns
          %p= @scholar.description
