%footer#pages-index
  .row
    .twelve.columns
      .six.columns
        %h6 About Us
        %hr
        %small= link_to '>> Story', 'http://www.rappler.com/move-ph/23894-up-student-kills-self-unpaid-tuition', target: '_blank'
        |
        %small= link_to '>> Team', 'https://github.com/akosipc/BracketD'
        -#|
        -#%small= link_to 'FAQ'
      .six.columns
        .contact
          %h6 Contact Us
          %hr
          %small
            © 2013 Bracket'd.org
            %span
              Contact us at: 
              = link_to '@akosipc', 'http://twitter.com/akosipc'
              = link_to '@pageman', 'http://twitter.com/pageman'
              = link_to '@rafaeloca', 'http://twitter.com/rafaeloca'

